<form>
  <div>
    <label for="name">Name</label><input type="text" name="name" class="name" />
  </div>
  <div>
    <label for="phone">Phone</label><input type="text" name="phone" class="phone" />
  </div>
  <div>
    <label for="email">Email</label><input type="text" name="email" class="email" />
  </div>
  <a href="#" class="validateButton">Validate</a>
</form>